<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/main.css" rel="stylesheet">
    <title>DnD Character Creator</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
</head>
<body>
    <div class="container">
        <div class="header">
            <p1 class="title">
                D&D Character Creator
            </p1>
            <div class="nav-tab">
                <button class="nav-button active" id="nav-button-race" onclick="">Race</button>
                <button class="nav-button active" id="nav-button-class" onclick="">Class</button>
                <button class="nav-button active" id="nav-button-ability-score" onclick="">Ability Score</button>
                <button class="nav-button active" id="nav-button-background" onclick="">Background</button>
            </div>
        </div>
        <div class="body">
            <div class="body-selector">

            </div>
            <div class="body-information">

            </div>
        </div>
    </div>
    <script src="../js/tab-main.js"></script>
</body>
</html>